
#main {
  min-height: fit-content;
}

.main-and-footer {
  min-height: 100vh;
}

#docker {
  margin: 0 !important;
}

footer {
  width: 100% !important;
}

.library-desc {
  text-align: center;
}

.intro > a {
  text-align: center;
}